.header{
  //hamburger open
  &_open {

    .header_toggle{
    > span:first-child{
      transform: rotate(45deg);
    }
    > span:nth-child(2){
      opacity: 0;
    }
    > span:last-child{
      transform: rotate(-45deg);
    } 
    }
  }
    .overlay{

    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient($darkBlue, transparent);
  }

  nav{
    position: relative;
    background-color: $white;
    padding-top: 1.0125rem;
    padding-bottom: 1.0125rem;
  }
  &_logo{
    padding-top:6px;
    img{
      width: 8.8125rem;
      height: 1.375rem;
    }
  }
  &_toggle{
    >span{
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;
      &:not(:last-child){
        margin-bottom: 5px;
      }
    }
  }

  &_menu{
  
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center; 
    padding: 1.625rem;
    width:0;
    opacity: 0;
    margin-top:2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: $white;
    border-radius: 5px;
    z-index: 2;
    a{
      color: $darkBlue;
      padding: 0.625rem;
    }
  }
  &_links{
    a{
      position: relative;
      font-size: $font-sm;
      color: $grayishBlue;
      transition: color 300ms ease-in-out;
      &:not(:last-child){
        margin-right: 32px;
      }
      &::before{
        content:"";
        display: block;
        position: absolute;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -30px; 
        background: linear-gradient(90deg, rgba(49,208,107,1) 0%, rgba(43,184,214,1) 50%, rgba(43,184,214,1) 100%);
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }
      &:hover{
        color:$darkBlue;
      &::before{
       opacity: 1;
      }
      }
    }
  }
  &_cta{
    font-size: $font-sm;
    color: $white;
    transition: opacity 300ms ease-in-out; 

    &:hover{
    opacity: 0.8;
    }
  }
}

